.u-block-f9c6-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-f9c6-3 {
  position: absolute;
  left: 0;
}

.u-block-f9c6-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/Snapinsta.app_395870724_892998032240151_7117905937361798524_n_1080.jpg");
  background-position: 50% 84.65%;
  min-height: 591px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 373px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 280px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 176px;
  }
}

 .u-section-1-2 {
  background-image: url("images/Snapinsta.app_340001043_527189352944552_7659230574673223165_n_1080.jpg");
  background-position: 50% 50%;
  min-height: 591px;
}

@media (max-width: 1199px) {
   .u-section-1-2 {
    min-height: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-1-2 {
    min-height: 373px;
  }
}

@media (max-width: 767px) {
   .u-section-1-2 {
    min-height: 280px;
  }
}

@media (max-width: 575px) {
   .u-section-1-2 {
    min-height: 176px;
  }
}

 .u-section-1-3 {
  background-image: url("images/selonding.png");
  background-position: 50% 50%;
  min-height: 591px;
}

@media (max-width: 1199px) {
   .u-section-1-3 {
    min-height: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-1-3 {
    min-height: 373px;
  }
}

@media (max-width: 767px) {
   .u-section-1-3 {
    min-height: 280px;
  }
}

@media (max-width: 575px) {
   .u-section-1-3 {
    min-height: 176px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1075px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 36px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-gallery-1 {
  height: 802px;
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -4px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 10px;
    height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1412px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1139px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3690px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 23px;
    height: 3417px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2424px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 30px;
    height: 2151px;
  }
} .u-section-3 {
  background-image: url("images/pura-taman-ayun_169.jpeg");
}

.u-section-3 .u-sheet-1 {
  min-height: 206px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1003px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-1 {
  height: 802px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-gallery-1 {
    height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1139px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3618px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3417px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2352px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2151px;
  }
} .u-section-5 {
  background-image: url("images/pura-taman-ayun_169.jpeg");
}

.u-section-5 .u-sheet-1 {
  min-height: 206px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1003px;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-1 {
  height: 802px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-6 .u-gallery-1 {
    height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1139px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3618px;
  }

  .u-section-6 .u-gallery-1 {
    height: 3417px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2352px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2151px;
  }
}